@CHARSET "UTF-8";

.card {
	width: 300px;
	border: 1px solid gray;
	box-shadow: 1px 1px 3px #888;
	min-height: 250px;
	max-height: 400px;
	padding-: 10px;
	margin: 10px;
	
}

.body-wrap {
	overflow: hidden;
    position: relative;
    line-height: 1.2em;
    max-height: 85%;
    margin-right: -1em;
    padding-right: 1em;
}
